@mixin button($color: #008000) {
  position: relative;
  display: inline-block;
  height: 2.4rem;
  min-width: 2.4rem;
  text-align: center;
  line-height: 3.4rem;
  color: rgba(0, 0, 0, 0.7);
  user-select: none;

  span {
    font-size: 1.8rem;
    cursor: pointer;
  }

  &:hover {
    background-color: #eeeeee;
    border-radius: 2px;
  }

  &:active,
  &.active {
    color: $color;
  }
}
